0 1 * * * find /var/log/fluent -mtime +90 -name '*.log.gz' -exec rm -f {} \;
0 0 * * * certbot renew >> /var/log/letsencrypt/certbot_renew.log;
0 * * * * /bin/sh /ad-hub.net/scripts/check_disk_usage.sh;
